body{
    background-color: blue;
    color: black;
    font-size: larger;
}

#start-btn{
    background-color: white;
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}
#title{
    text-align: center;
}

#main-quiz, #results {
    visibility: hidden;
}

.padded-button {
    background-color: #bbbbbb;
    padding: 1rem;
    border-radius: 0.7rem;
    display: inline;
}


#heads-up-display {
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px){

    #title{
      margin-left: 20%;  
    }
    #start-btn{
        margin-left: 30%;
    }

}